@page "/"
@inject HttpClient Http

<PageTitle>FoodieApp</PageTitle>
Welcome to <b>Foodie</b> app.

@if(items is not null && items.Any())
{
    <Divider Alignment="@Alignment.Center" Text="Best Rated"></Divider>
        <Carousel Width="auto" IsFade="true">
            @foreach(var item in items)
            {
                <CarouselItem>
                    <CaptionTemplate>
                        <h5>@item.MealName</h5>
                    </CaptionTemplate>
                    <ChildContent>
                        <img src="@item.Image" alt="demo-image" />
                    </ChildContent>
                </CarouselItem>
            }
     </Carousel>
}


@code{
    List<CarouselMeals>? items;

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetFromJsonAsync<List<CarouselMeals>>("/meals/carousel") ?? new List<CarouselMeals>();
    }
}



